<h1> All Contestants </h1>

<% @contestants.each do |contestant| %>
  <section class="contestant-<%= contestant.id %>">
    <h2><%= contestant.name %></h2>
    <p>Projects: <%= contestant.projects %></p>
  </section>
<% end %>    
