<h1> <%= @project.name %> </h1>
<h2> Material: <%= @project.material %><br/>
Challenge Theme: <%= @project.challenge.theme %></h2>
<br/>
<p>Number of Contestants: <%= @project.contestant_count %></p>
